<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="description" content="世奥游戏 GT爱游戏 GT游戏 小游戏 html5手机游戏 微信游戏 微信小游戏">
<title>GT爱游戏</title>

<link rel="stylesheet" type="text/css" href="css/ratchet.css" />
<link rel="stylesheet" type="text/css" href="css/ratchet-theme-android.css" />
<link rel="stylesheet" type="text/css" href="css/layout.css" />

<script type="text/javascript" src="cordova.js"></script>





<!-- 设置是否玩过游戏跳转页面的脚本 -->


<script>

    window.localStorage.setItem("played_yes", "yes");

</script>


</head>
<body>



<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-standard bar-nav css-index-header">
    <h1 class="title css-index-title">GT爱游戏</h1>
</header>




<!-- Icons in standard bar fixed to the bottom of the screen -->
<div class="bar bar-standard bar-footer css-global-footer">


    <div class="segmented-control">
        <a href="index.html" data-transition="slide-out" class="control-item css-footer-item1">
            <span><img src="img/footer_icon1.png" alt=""></span>
            <span class="tab-label">首页</span>
        </a>
        <a href="classic_list.html" data-transition="slide-out" class="control-item css-footer-item2">
            <span><img src="img/footer_icon2.png" alt=""></span>
            <span class="tab-label">热门</span>
        </a>
        <a href="sort.html" data-transition="slide-out" class="control-item css-footer-item3">
            <span><img src="img/footer_icon3.png" alt=""></span>
            <span class="tab-label">分类</span>
        </a>
        <a href="played_yes.html" data-transition="slide-out" class="control-item active css-footer-item4">
            <span><img src="img/footer_icon4.png" alt=""></span>
            <span class="tab-label">玩过</span>
        </a>
    </div>


</div>  











<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content css-index-content">

    <div class="card css-index-card" id="game-played-no-template">

        <div class="play_no_box">
            <img src="img/played_no_img.png" alt="">
            <h2>你还没有玩过任何游戏，赶紧去体验一下吧！</h2>
        </div>


        <div class="clear"></div>


        <div class="recommend_box">
            <h2>推荐游戏:</h2>
            <ul class="table-view" id="gtgame_played_no_data">
            </ul>

            <!-- 内容列表模板文件 -->
            <script type="text/template" id="GameListItemView_template">
                
                <a href="game_detail.html?id=<%= id %>"  class="js-index-list-href">
                    <img src="<%= icon %>" alt="">
                </a>
                <p><%= title %></p>
                
            </script>


            <div class="clear"></div>
        </div>
        
    </div>

</div>






<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/backbone.js"></script>
<script type="text/javascript" src="js/played-no.js"></script>



</body>
</html>

















